.body1 {
    background: url('./picture/poster.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.button1 {
    margin-top: 25%;
    margin-left: 47%;
}

.hero-text {
    text-align: center;
}

.mycenter {
    text-align: center;
    color: red;
}

img {
    height: 15rem;
    width: 18rem;
}

.w-h {
    width: 15rem;
    height: 10rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}